#h2-detailed-friendCard {
    margin: 1%;
    color: #545353;
    text-shadow: 1px 1px 1px rgba(177, 171, 189, 0.36);
}

#detailed-friend-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #e0d6fd;
    margin: 5% 18%;
    padding: 1%;
    background-color: #e0d6fd;
    border-radius: 1rem;
    box-shadow: 4px 5px 5px rgb(116, 135, 187);
}

#detailedPicture {
    width: 80px;
    height: 80px;
    margin: 2%;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

#ageParagraph {
margin: 1%;
}

#cityParagraph {
    margin: 0.5%;
}

#priceParagraph {
    margin: 0.5%;
}

#standing-area {
    margin-top: 1%;
}

.traitsParagraph {
 letter-spacing: 0.1rem;
    margin: 0.5%;
    color: #92a7ea;
}

.booking-confirmation-button {
    display: block;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.booking-confirmation-button:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.booking-confirmation-button:active {
    position:relative;
    top:1px;
}

#button-div {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-p {
    text-align: center;
    font-size: 0.8rem;
    margin: 1.5%;
}

#additional-services-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#additional-services-option {
    margin:5%;
}

#additional-services-titles {
    margin-top: 2%;
    text-align: center;
}

#activity-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#activity-div > label {
    font-size: 0.9rem;
}

#meeting-time {
    width: 80%;
    height: 1.5rem;
    font-size: 0.8rem;
}

#choose-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#choose-time > label {
    text-align: center;
    font-size: 0.9rem;
}

.placedOrder {
    list-style: none;
    margin-bottom: 5%;
}

.placedOrder li {
    margin: 5%;
}






