
#friends-startpage-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 20%;
    border: 1px solid #e0d6fd;
    background-color: #e0d6fd;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.09);
    border-radius: 1rem;
    padding: 4%;
}

#friends-startpage-h2 {
    color: #545353;
    padding: 2%;
    text-align: center;

}

#friends-startpage-image {
    width: 20%;
    height: 20%;
    margin-bottom: 4%;
}

.friends-startpage-paragraph {

}

#friend-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#policies-link {
    text-decoration: none;
    color: #92a7ea;
}

#Welcome-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    text-align: center;
}

#Welcome-h2 {
    padding: 2%;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.Welcome-p {
    padding: 1%;
    line-height: 150%;
}