* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;

}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 2%;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;

}

form button {
    display: flex;
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.09);
    margin: 0 auto 10px auto;
    background-color: #B0DAFF;

}
button:hover {
    cursor: pointer;
}

form p {
    display: flex;
    justify-content: center;
    margin: 5%;
}

#register-link {
    text-decoration: none;
    color: #92a7ea;
}
#register-link:hover {
    cursor: pointer;
}

#title-register-page{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}



